{{- with .OutputFormats.Get "rss" -}}
{{- printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end -}}
{{- if not .Params.notoembed -}}
{{- "" | safeHTML -}}
<meta property="og:title" content="{{ default .Site.Title .Title }}">
{{ with or (and .Params.hero (.Resources.Get .Params.hero)) (and .Site.Params.hero (resources.Get .Site.Params.hero)) -}}
<meta property="og:image" content="{{ (images.Filter images.AutoOrient .).Permalink }}">
{{ end -}}
<meta property="og:description" content="{{ .Summary }}...">
<meta property="og:site_name" content="{{ .Site.Title }}">
<link rel="alternate" type="application/json+oembed" href="{{ .Site.BaseURL }}oembed.json">
{{ end -}}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="theme-color" content="#ffffff">
